
.container {
    background-image: url('../../../public/images/background.jpg'); /* 画像のパス */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  