.goalCard {
  background-color: #3e4078;
  border-radius: 20px;
  padding: 20px;
  width: 48%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.3s ease-in-out;
}

.goalTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.addButton {
  background-color: #0070f3;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.goalButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.goalButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.goalProgress {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.progressItem {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 暗転用のオーバーレイ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* モーダルを最前面に表示 */
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  color: black; /* 文字色を黒に変更 */
  z-index: 1000; /* または 9999 など、より大きな値 */
}

.modalButtons {
  display: flex;
  justify-content: space-around;
}

.modalTabs {
  display: flex;
  margin-bottom: 10px;
}

.modalTabs button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.modalTabs button.activeTab {
  background-color: #0070f3;
  color: white;
}

.goalCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.goalCard::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
