.goalCard {
  background-color: #3e4078;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%; /* 幅を100%に */
  overflow-x: auto; /* 横スクロールを有効に */
  white-space: nowrap; /* goalButton を横並びにする */
}

.goalTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.goalName {
  flex-grow: 1;
  text-align: center;
}

.addButton {
  background-color: #0070f3;
  color: white;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: auto; /* 右側の要素を右端に配置 */
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease-in-out;
}

.addButton:hover {
  transform: scale(1.1);
  background-color: #005bb5;
}
.addButton:active {
  transform: scale(0.9);
}

.goalButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.goalButton {
  background-color: #f0f0f0;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 120px; /* goalButton の最小幅を設定 */
  position: relative; /* 星を配置するための基準 */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.goalButton::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #ffca28; /* 右上の角の背景色を黄色に */
  border-radius: 2px;
}

.goalButton::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #ffca28 transparent transparent; /* 右上の三角の背景色を黄色に */
}

.goalProgress {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color: white; /* 進捗の文字色を白に */
}

.progressItem {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* カレンダーよりも大きい値を設定 */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: solid;
  background: none;
  cursor: pointer;
  color: black; /* 色を黒に設定 */
  transition: color 0.3s ease;
}

.closeButton:hover {
  cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
  z-index: 1001;
  color: red;

}

.modal h2 {
  margin-bottom: 15px;
  color: black;
  text-align: center;
  font-weight: bold; 
}

.modal label {
  display: block;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.modal input,
.modal select {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  text-align: center;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modalButtons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtons button:first-child {
  background-color: #0070f3;
  color: white;
}
.modalButtons button:first-child:hover {
  background-color: #005bb5; /* ホバー時に色を濃く */
  transform: scale(1.05); /* 少し拡大してクリックしやすく */
}

.modalButtons button:last-child {
  background-color: #f0f0f0;
}
.modalButtons button:last-child:hover {
  background-color: #d6d6d6; /* ホバー時に色を少し濃く */
  transform: scale(1.05);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* モーダルよりも低い z-index */
}
