.container {
  background-image: url('../../../public/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center; /* 変更 */
  justify-content: center; /* 変更 */
  position: relative;
  overflow: hidden; /* 追加 */
}

.h1 {
  color: white;
  margin-bottom: 20px; /* h1 タグの下にスペースを追加 */
  font-family: 'Bokurano'; /* 追加 */
  font-size: 50;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: twinkle 1.5s infinite, moveStar 3s linear infinite;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6);
}

@keyframes moveStar {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(calc(100vh - 50px)) translateX(100vw); /* 修正 */
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.6);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
      0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    opacity: 0.5;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.6);
  }
}
