/* app/login/page.module.css */
.container {
  background-image: url('../../../public/images/SL-112421-46970-28.jpg'); /* 画像のパス */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
